@font-face {
  font-family: Montserrat;
  src: url('/public//assets/fonts/montserrat/Montserrat-Thin.ttf');
}

.column-header {
  font-family: 'Montserrat', sans-serif, 'open-sans';
  color: #48484A;
  font-size: 14px;
  line-height: 18px;
}

.fcs-listing {
  list-style: none;
  padding-left: 0;
}

.fcs-listing li span {
  padding-right: 5px;
}