.bg-light {
 background: #F2F1F0 !important;
}
.navbar-vertical {
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0;
}
.navbar-vertical .navbar-nav .nav-item .nav-link.active {
    color: #030303;
}
.ml-15px {
    margin-right: 15px;
}

.navbar-vertical .navbar-nav .nav-item .nav-link:hover {

    color: #030303;
}

.company-logo {
    width: 187px;
    height: 100% !important;
}
.card-bg-green {
    background: #CAFFD9;
}
.card-bg-purple {
    background: #F4E5FF;
}
.card-bg-blue{
    background: #C5F4FF;
}
.card-bg-orange{
    background: #FFF1E7;
}
.btn-warning{
    background: #D28F5D;
}
.bg-light-blue{
    background: #9EBEEA;
}
.input-group-text {
    background: white;
    border-right: none;
}
.input-group input {
    border-left: none;
}

.card-border-orange {
    border: 1px solid #eeb30e!important;
    box-shadow: 0 2px 4px rgb(203 0 0 / 8%), 0 1px 2px rgb(234 134 4 / 8%);
}
.img-circle {
    border-radius: 25px;
}
.blur-bg {
    opacity: .2;
}
#loader {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    z-index: 99999;
}
.dot {
    background: tomato;
}
.dot, .dot:after {
    display: inline-block;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    animation: a 1.5s calc(((var(--i) + var(--o, 0))/var(--n) - 1)*1.5s) infinite;
}
.dot:after {
    --o: 1;
    background: currentcolor;
    content: '';
}
@keyframes a {
    0%, 50% {
        transform: scale(0);
    }
}
.hr-service-addon {
    width: 798px;
    margin-left: -160px;
    overflow: hidden;
}

.image-gallery {
    width: 200px;
}
#overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 99999999999999999999999999999999;
}
.close-service-images {
    border: none;
    background: #fff1f19e;
    border-radius: 44px;
    float: right;
    margin-left: 65px;
    position: absolute;
}
.bootstrap-tagsinput .tag {
    background: #bbbbbb;
    padding: 5px 15px;
    font-size: 14px;
    border-radius: 25px;
}
.company-tags .bootstrap-tagsinput {
    width: 100%;
    padding: 0.5rem!important;
}
.pending-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    background-color: #c16b21;
}
.accepted-dot {
    background-color: #5b5b5a;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
}
.border-card-pending {
    border-radius: 0;
    border-left: 4px solid #c16b21;
}
.border-card-accepted {
    border-radius: 0;
    border-left: 4px solid #5b5b5a;
}
.btn-search-input-group {
    border-left: none;
    border-top: 1px solid #a4a0a0ab;
    border-right: 1px solid #a4a0a0ab;
    border-bottom: 1px solid #a4a0a0ab;
}
.input-group-search {
    border-left: 1px solid #a4a0a0ab !important;
    border-left: 1px solid #a4a0a0ab !important;
    border-right: none;
}


svg text {
    font-family: Lora;
    letter-spacing: 10px;
    stroke: #c16b21;
    font-size: 150px;
    font-weight: 700;
    stroke-width: 3;

    animation: textAnimate 5s infinite alternate;

}

@keyframes textAnimate {
    0% {
        stroke-dasharray: 0 50%;
        stroke-dashoffset:  20%;
        fill: hsl(26, 75%, 66%)

    }

    100% {
        stroke-dasharray: 50% 0;
        stroke-dashoffstet: -20%;
        fill: hsla(189, 68%, 75%,0%)
    }

}

.ui-state-highlight {
    border: 0 !important;
}

.ui-state-highlight a {
    background: #363636 !important;
    color: #fff !important;
}
