@media (320px <=width <=480px) and (orientation: portrait) {
    /* Section */
    section {
        padding-top: 0;
    }
    
    /* About ---------- */
    .about .content h3 {
        font-size: 23px;
        line-height: 45px;
    }

    .about .content p {
        top: 9em;
    }

    .about .row .top-panel {
        z-index: 999;
    }

    .about .row div {
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .about .row .abt-logo img {
        display: flex;
        margin-top: -8rem;
    }

    /* Portfolio ----------  */
    .icon-box img {
        padding-bottom: 15px;
    }

    #portfolio .row img {
        padding-bottom: 10px;
    }

    #portfolio .hpi {
        padding: 0 !important;
    }

    #portfolio .hpi img {
        width: 100%;
        padding-bottom: 30px;
    }

    .about {
        padding-bottom: 11rem;
    }

    .about .homepage-banner {
        margin-left: unset;
        margin-top: 3rem !important;
    }

    .section-bg {
        margin-top: -25rem;
        background-size: 2000vw 100%;
/*        margin-bottom: -5rem !important;*/
        padding-bottom: 30px;
    }
    .section-bg .container {
        margin-top: 24rem;
/*        padding-top: 11rem;*/
    }

    #services .section-title h3 {
/*        margin-top: 16rem;*/
    }

    .portfolio .section-title {
        padding-bottom: 0;
    }
}


@media (481px <=width <=768px) and (orientation: portrait) {
    .about {
        padding-bottom: 16.7rem
    }
    .about .content h3 {
        font-size: 34px;
    }

    .about .row .top-panel {
        z-index: 999;
    }

    .about .row div {
        width: 100%;
        justify-content: center;
        display: flex;
    }

    .about .row img {
        width: 85%;
        margin-top: 50px;
    }

    .about .homepage-banner {
        margin-left: unset;
    }

    .about .row .apps-store img {
        margin-top: 0
    }

    .section-bg {
        margin-top: -15rem;
        background-size: 1000px 90%;
        margin-bottom: -5rem !important;
        padding-bottom: 10rem;
    }

    #services .section-title h3 {
        margin-top: 14rem;
    }

}


@media (769px <=width <=1023px) and (orientation: portrait) {

    .about .content h3 {
        font-size: 34px;
    }

    #portfolio .row img {
        padding-bottom: 10px;
    }

    #portfolio .hpi img {
        width: 100%;
        padding-bottom: 30px;
    }

    .about .row .abt-logo img {
        position: absolute;
        top: 6rem;
    }
}

@media (1024px <=width <=1200px) and (orientation: landscape) {
    .about .content h3 {
        font-size: 34px;
    }

    #portfolio .hpi {
        padding: 0 !important;
    }

    #portfolio .hpi img {
        width: 100%;
        padding-bottom: 30px;
    }

    .section-bg {
        margin-top: -14rem;
    }

    .about .top-panel {
        margin-top: -2rem;
    }
}


@media (1200px <= width <= 1400px) and (orientation: landscape) {
    .about .content h3 {
        font-size: 40px;
    }
    .section-bg {
        margin-top: -9rem;
    }
}


@media (481px <=width <=768px) and (orientation: landscape) {
    .about .content h3 {
        font-size: 34px;
    }

    .about .row .top-panel {
        z-index: 99;
    }


    .about .row .abt-logo img {
        width: 80%;
        margin: -8rem auto;
        display: flex;
    }
}

@media (769px <=width <=1024px) and (orientation: landscape) {
    .about .content h3 {
        font-size: 34px;
    }

    .about .row .top-panel {
        z-index: 99;
    }


    .about .row .abt-logo img {
        width: 80%;
        margin: -8rem auto;
        display: flex;
    }

    .about .homepage-banner {
        margin-top: -25px !important;
        width: 100% !important;
    }
}


@media (769px <=width <=1023px) and (orientation: landscape) {

    .about .row .top-panel {
        z-index: 99;
    }

    .about .row .abt-logo img {
        width: 80%;
        margin: -11rem auto;
        display: flex;
    }

    .about .homepage-banner {
        padding-top: 8rem !important;
    }
}

@media (768px <= width <= 992px) {
  section {
    overflow: visible;
  }

  .about .homepage-banner {
    margin: -14rem auto !important;
    padding-left: 9% !important;
  }

  .section-bg {
    margin-top: 14.7rem;
  }

  .section-bg .container {
    padding-top: 40px !important;
  }
}

@media (680px <= width <= 769px) and (orientation: landscape) {
    section {
        overflow: visible;
    }
    .about .homepage-banner {
        margin-top: 80px !important;
    }

    .section-bg {
    margin-top: 13.7rem !important;
  }
}


@media (800px <=width <=1023px) and (orientation: portrait) {

    .about .row .top-panel {
        z-index: 99;
    }

    .about .row .abt-logo img {
        
    }

    .about .row .abt-logo img {
        position: absolute;
        margin: -2rem auto;
        padding-left: 17%;
        margin: -11rem auto;
        display: flex;
        top: 19rem;
    }
}

@media (640px <= width <= 800px) and (orientation: portrait) {
    .about .homepage-banner {
        top: 19rem !important;
    }
}

@media only screen and (width: 500px) and (orientation: portrait) {
    .section-bg {
        margin-top: -19rem !important;
    }
}


@media only screen and (max-width: 991px) {
    .footer-top .footer-detail-container {
        display: block !important;
    }

    .footer-top .footer-detail-container .logo {
        display: flex;
        justify-content: center;
        margin: auto !important;
        padding-bottom: 30px;;
    }

    .footer-top .footer-detail-container nav>i::before {
        content: none;
    }
    .footer-top .footer-detail-container nav {
        display: flex;
        justify-content: center;
    }
    .footer-top .footer-detail-container nav ul {
        display: flex;
    }

    .footer-top .footer-detail-container nav ul li a {
        font-size: 12px;
    }

    .footer-top .footer-detail-container nav ul li a {
        padding: 7px 13px 7px 13px !important;
    }
}

@media only screen and (max-width: 791px) {
    .footer-top .footer-detail-container nav ul li a {
        padding: 7px 10px !important
    }
}